<title>My application deployed automatically</title>

  <h1>Hello, World!</h1>
    Result is {{result}}

takes integer array from left box ,takes integer from right box and returns true if array contains that integer. 
  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>

